body {
  margin: 0;
}

ASIDE.banner {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.1)
    ),url('../images/headerimg.jpeg');
 background-size: cover;
 background-position: center;
 margin: 0;
 height: 20em;
 overflow: hidden;
}

NAV UL A{
  display: block;
  text-align: center;
  color: black;
  line-height: 2em;
  font-family: serif;
  font-size: 20px;
  text-decoration: none;
}

UL{
  padding: 0;
}

NAV#navmob {
  display: none;
}

NAV#navpc {
  display: none;
}

DIV#mobilebtn {
  text-align: center;
}

#navbtn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: inherit;
  font-family: serif;
  margin: 1em;
}

HEADER HR{
  margin: 0;
}

@media screen and (min-width: 1200px) {
  NAV UL A{
    display: inline-block;
    margin-left: 2em;
  }

  HEADER HR{
    display: none;
  }

  BUTTON#navbtn{
    display: none;
  }

  NAV#navpc {
    display:inline-block;
  }

  NAV#navmob {
    display: none;
  }
}
